<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>avorion</short>
  <description>Avorion firewall ports</description>
  <port protocol="tcp" port="27000"/>
  <port protocol="udp" port="27000"/>
  <port protocol="udp" port="27003"/>
  <port protocol="udp" port="27020"/>
  <port protocol="udp" port="27021"/>
</service>